[submodule "Diffusion"]
	path = Diffusion
	url = https://github.com/Building-acoustics-TU-Eindhoven/Diffusion.git
[submodule "MyNewMethod"]
	path = MyNewMethod
	url = https://github.com/SilvinWillemsen/MyNewMethod.git
[submodule "spps/I-Simpa"]
	path = libsimpa/I-Simpa
	url = https://github.com/Universite-Gustave-Eiffel/I-Simpa.git
